.main {
    background-color: white;
    height: 900px;
}


/* --- SectionONe --- */
.sectionOne  {
    /* background-color: black; */
    position: relative;
    top: 50px;
    height: 590px;
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.sectionOne p {
    margin: 0;
    margin-bottom: 20px;
    width: fit-content;
    padding: 3px 10px;
    color: white;
    background-color: black;
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* --- Image Slider --- */
.imageSlider img {
    position: absolute;
    transition: 1s;
    height: 450px;
    width: 850px;
    border: 1px solid #FFF6DC;
}

/* --- Buttons --- */
.imageButtons {
    display: flex;
    justify-content: center;
    position: relative;
}

.imageButtons button {
    background-color: black;
    border: 1px solid black;
    font-size: 35px;
    color: white;
    margin-top: 185px;
    opacity: 0.5;
    transition: 0.3s;
    border-radius: 6px;
}

.nextButton {
    margin-left: 770px;
}

.imageButtons button:hover{
    opacity: 0.2;
}

/* -----------------------------------TWO-------------------------------- */

.sectionTwo {
    /* background-color: orange; */
    position: relative;
    top: 100px;
    height: 900px;
    width: 1200px;
    margin: 0 auto;
}

.sectionTwo p {
    text-align: center;
}

.section-one-container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c-one-column-one, .c-one-column-two, .c-one-column-three {
    border-radius: 5px;
    height: 300px;
    background-color: black;
}

.c-one-column-one {
    width: 300px;
    margin-left: 10px;
}

.c-one-column-two {
    flex: 1;
    margin: 0 20px;
}

.c-one-column-three {
    width: 300px;
    margin-right: 10px;
}

/* SECTION ONE BLOCK TEXT DESIGN */
.c-one-column-one, .c-one-column-two, .c-one-column-three, p {
    color: white;
}