.main {
    /* background-color: orangered; */
    height: 900px;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* --- SectionONe --- */
.sectionOne  {
    position: relative;
    top: 50px;
    height: 700px;
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.sectionOne p {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 30px;
}


/* --- Image Slider --- */
.imageSlider img {
    position: absolute;
    border-radius: 5px;
    transition: 1s;
    height: 450px;
    width: 850px;
}

/* --- Buttons --- */
.imageButtons {
    display: flex;
    justify-content: center;
    position: relative;
}

.imageButtons button {
    background-color: black;
    border: 1px solid black;
    font-size: 35px;
    color: white;
    margin-top: 185px;
    opacity: 0.5;
    transition: 0.3s;
    border-radius: 6px;
}

.nextButton {
    margin-left: 770px;
}

.imageButtons button:hover{
    opacity: 0.2;
}